<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">

    <title>Moisture</title>


</head>

<body>
    <div class="container mt-4">
        <div class="col-md-4 offset-md-4">
            <hr>
            <div class="row">
                <div class="col-6">
                    <p style='padding: 10px; background-color:#1D5191; border-radius: 10px; color: black'>ความชื้นสูงมาก
                    </p>
                </div>
                <div class="col-6">
                    <p style='padding: 10px; background-color:#4288DD; border-radius: 10px; color: black'>ความชื้นสูง
                    </p>
                </div>
                <div class="col-6">
                    <p style='padding: 10px; background-color:#B9D62A; border-radius: 10px; color: black'>ความชื้นปกติ
                    </p>
                </div>
                <div class="col-6">
                    <p style='padding: 10px; background-color:#F54A00; border-radius: 10px; color: black'>ความชื้นต่ำ
                    </p>
                </div>
                <div class="col-6">
                    <p style='padding: 10px; background-color:#D68213; border-radius: 10px; color: black'>ความชื้นต่ำมาก
                    </p>
                </div>
            </div>
            <hr>
            <% for ( var j = 1, m = 0 ; j<=4 ; j++) { %>
            <div class='row' style="margin:0">
                <% for (var i = 1; i <= 3; i++) { %>
                <div id='space<%= m %>' class='col moisture_space' style="background-color: rgb(228, 228, 124);">
                </div>
                <% m++ } %>
            </div>
            <% } %>
            <hr>
            <a style="text-decoration: none;" href="/">
                <button type="button" class="btn btn-secondary btn-lg btn-block mt-3">Back to home</button>
            </a>
        </div>
    </div>
</body>


<!-- General JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://cdn.netpie.io/microgear.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    var humidity_string = sessionStorage.getItem("humidity")
    if (humidity_string.length > 8) {
        var humidity = humidity_string.slice(9, -1).split(', ')
        for (var i in humidity) {
            if (humidity[i] <= 650) $(`#space${i}`).css("background-color", "#1D5191")
            else if (humidity[i] <= 700) $(`#space${i}`).css("background-color", "#4288DD")
            else if (humidity[i] <= 750) $(`#space${i}`).css("background-color", "#B9D62A")
            else if (humidity[i] <= 800) $(`#space${i}`).css("background-color", "#F54A00")
            else $(`#space${i}`).css("background-color", "#D68213")
        }
    }
</script>

<script>
    const APPID = 'FarmbotProject';
    const APPKEY = 'b3pe2C13oESZed1';
    const APPSECRET = 'OMblNqjUT2uRtWiz4oacbGE6u';

    var microgear = Microgear.create({
        key: APPKEY,
        secret: APPSECRET
    });

    microgear.on('message', function (topic, msg) {
        console.log(topic, msg)
        if (msg == 'process_success') {
            alert('Processing sucessfully!')
        } else {
            if (msg.slice(0, 8) == 'humidity') {
                alert('Humidity measuring seccuessfully!')
                sessionStorage.setItem("humidity", msg);
            } else if (msg.slice(0, 4) == 'scan') {
                alert('Scan successfully!')
                sessionStorage.setItem("weed_positions", msg);
            }
        }
    });

    microgear.on('connected', function () {
        microgear.setAlias('htmlgear');
        setInterval(function () {
            microgear.chat("htmlgear")
        }, 5000);
    });
    microgear.connect(APPID);
</script>


</html>