<!DOCTYPE html>
<html>

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Style -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">

  <title>Farm Bot</title>


</head>

<body>

  <!-- Pagetitle -->
  <div class="jumbotron jumbotron-fluid" style="padding: 20px; text-align: center">
    <div class="container">
      <h1 class="display-4 ">Auto Farming Robot</h1>
      <h3>[ver : 0.8]</h3>
      <hr class="my-4">
    </div>
  </div>
  <!-- /Pagetitle -->


  <!-- Working Space -->
  <div class='container' style="margin-bottom:50px;">
    <!-- Code input -->
    <div class="row" style="margin-bottom:10px">
      <div class="col-md-3"></div>
      <div class="col-9 col-md-5">
        <input type="password" id="code" class="form-control" placeholder="Please enter your code">
      </div>
      <button id="user_button" type="submit" onclick="checkCode()" class="btn btn-secondary col-2 col-md-1"
        disabled>OK</button>
      <div class="col-md-3"></div>
    </div>
    <!-- /Code input -->

    <div class="row" id="username1" hidden>
      <div class="col-md-3"></div>
      <div id='username2' class="alert col-12 col-md-6"
        style="padding:10px; width:100%; margin-bottom: 0px; text-align: center">
        <span id='username3'></span>
      </div>
      <div class="col-md-3"></div>
    </div>

    <!-- Image Bar -->
    <div class="col-md-8 offset-md-2 imgBox">
      <img src="img/apple.png" id="apple" onclick="imgTypes('apple')" class="imgBar">
      <img src="img/banana.png" id="banana" onclick="imgTypes('banana')" class="imgBar">
      <img src="img/lettuce.png" id="lettuce" onclick="imgTypes('lettuce')" class="imgBar">
      <img src="img/watering.png" id="watering" onclick="imgTypes('watering')" class="imgBar">
      <img src="img/wateringAll.png" id="watering_all" onclick="imgTypes('watering_all')" class="imgBar">
      <img src="img/scan.png" id="scan" onclick="scan_func()" class="imgBar">
      <img src="img/check.png" id="submit" onclick="confirm_func()" class="imgBar">
      <a href="history"><img src="img/history.png" class="imgBar"></a>
    </div>
    <!-- /Image Bar -->

    <!-- Planting Space -->
    <div class="col-md-4 offset-md-4">
      <% for ( var j = 1, m = 0 ; j<=4 ; j++) { %>
      <div class='row' style="margin:0">
        <% for (var i = 1; i <= 3; i++) { %>
        <div id='space<%= m %>' class='col space' onclick="show(<%= m %>)" style="padding:5px"></div>
        <% m++ } %>
      </div>
      <% } %>
    </div>
    <!-- /Planting Space -->

  </div>
  <!-- /Working Space -->

  <footer style="text-align: center; background-color: #DCDCDC; color: black">
    <div style="padding: 20px">
      <i>by Thanapong Somjai (Boy)</i><br>
      <i>Faculty of Engineering, Chulalongkorn University.</i>
    </div>
  </footer>


</body>


<!-- General JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.netpie.io/microgear.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  var numSpace = 12  //Number of spaces
  var waterStatus = false
  var fruitPosition = []
  var waterPosition = []
  var objectFruit = { command: "plat", positions: [] }
  var objectWatering = { command: "water", positions: [] }
  var objectFruitNetpie = { command: "plat", positions: [] }
  var objectWateringNetPie = { command: "water", positions: [] }
  var code = null
  var user = null

  // Creating array for fruitPosition & waterPosition
  for (var i = 0; i <= numSpace - 1; i++) {
    fruitPosition.push(null)
    waterPosition.push(0)
  }

  //Function for checking the type of image clicked and the action after clicked
  imgTypes = (type) => {
    this.imgType = type
    if (imgType == 'apple') {
      document.getElementById("apple").style.border = "thin solid #0000FF"
      document.getElementById("banana").style.border = null
      document.getElementById("lettuce").style.border = null
      document.getElementById("watering").style.border = null
      document.getElementById("apple").style.borderRadius = "10px"
    }
    else if (imgType == 'banana') {
      document.getElementById("apple").style.border = null
      document.getElementById("banana").style.border = "thin solid #0000FF"
      document.getElementById("lettuce").style.border = null
      document.getElementById("watering").style.border = null
      document.getElementById("banana").style.borderRadius = "10px"
    }
    else if (imgType == 'lettuce') {
      document.getElementById("apple").style.border = null
      document.getElementById("banana").style.border = null
      document.getElementById("lettuce").style.border = "thin solid #0000FF"
      document.getElementById("watering").style.border = null
      document.getElementById("lettuce").style.borderRadius = "10px"
    }
    else if (imgType == 'watering') {
      document.getElementById("apple").style.border = null
      document.getElementById("banana").style.border = null
      document.getElementById("lettuce").style.border = null
      document.getElementById("watering").style.border = "thin solid #0000FF"
      document.getElementById("watering").style.borderRadius = "10px"
    }
    else if (imgType == 'watering_all') {
      document.getElementById("apple").style.border = null
      document.getElementById("banana").style.border = null
      document.getElementById("lettuce").style.border = null
      document.getElementById("watering").style.border = null
      waterAll()
    }
  }

  //Fuction for show image of fruit or watering area
  show = (id) => {
    if (fruitPosition[id] != imgType) {
      if (imgType == 'apple') {
        fruitPosition[id] = 'apple'
        document.getElementById("space" + id).innerHTML = ' <img src="img/apple.png" style="height: 100%; width: 100%;"> '
      }
      else if (imgType == 'banana') {
        fruitPosition[id] = 'banana'
        document.getElementById("space" + id).innerHTML = ' <img src="img/banana.png" style="height: 100%; width: 100%;"> '
      }
      else if (imgType == 'lettuce') {
        fruitPosition[id] = 'lettuce'
        document.getElementById("space" + id).innerHTML = ' <img src="img/lettuce.png" style="height: 100%; width: 100%;"> '
      }
      else if (imgType == 'watering') {
        if (waterPosition[id] == 0) {
          waterPosition[id] = 1
          document.getElementById("space" + id).style.backgroundColor = "lightblue"
        } else {
          waterPosition[id] = 0
          document.getElementById("space" + id).style.backgroundColor = "antiquewhite"
        }
      }
    }
    else if (fruitPosition[id] == imgType) {
      fruitPosition[id] = null
      document.getElementById("space" + id).innerHTML = null
    }
    
  }

  //Function for watering all area or not
  waterAll = () => {
    if (!waterStatus) {
      for (var id in waterPosition) {
        document.getElementById("space" + id).style.backgroundColor = "lightblue";
        waterPosition[id] = 1
      }
      waterStatus = !waterStatus
    } else {
      for (var id in waterPosition) {
        document.getElementById("space" + id).style.backgroundColor = "antiquewhite";
        waterPosition[id] = 0
      }
      waterStatus = !waterStatus
    }
    
  }
  // Function for checking the code to verify user
  function checkCode() {
    code = $('#code').val()
    if (!code || code == '') {
      $('#username1').removeAttr('hidden')
      $("#username2").addClass('alert-warning')
      $("#username3").html(`<span><strong>Notification: </strong> Please enter the code!</span>`)
    } else {
      $.ajax({
        url: '/checkcode',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ code }),
        success: function (response) {
          if (response.data.status) {
            $('#username1').removeAttr('hidden')
            $("#username2").addClass('alert-success')
            $("#username3").html(`<span><strong>Success!</strong> Username: ${response.data.name}</span>`)
            user = { id: response.data.id, name: response.data.name }
          } else {
            $('#username1').removeAttr('hidden')
            $("#username2").addClass('alert-danger')
            $("#username3").html(`<span><strong>Failed!</strong> Code is incorrect!</span>`)
          }
        }
      })
    }
  }

  //Fuction run when user click SEND button
  function confirm_func() {
    var r = confirm('Are you sure to submit data?')
    if (r) {
      if (user) {
        document.getElementById("apple").style.border = null
        document.getElementById("banana").style.border = null
        document.getElementById("lettuce").style.border = null
        document.getElementById("watering").style.border = null
        submit_Data()
      } else {
        alert('Please enter the code to verify user!')
      }
    }
  }

  //Function for monitor the JSON data of fruitPosition & waterPosition
  submit_Data = () => {
    for (indexFruit in fruitPosition) {
      if (fruitPosition[indexFruit] != null) {
        var x_position_fruit = 175 + (Math.floor(indexFruit / 3)) * 240
        var y_position_fruit = (indexFruit % 3) * 265
        objectFruit.positions.push(JSON.stringify([x_position_fruit, y_position_fruit]))
        objectFruitNetpie.positions.push([x_position_fruit, y_position_fruit])
      }
    }
    objectFruit.user_id = user.id
    var jsonFruit = JSON.stringify(objectFruit) //fruitPosition in JSON

    for (indexWater in waterPosition) {
      if (waterPosition[indexWater] == 1) {
        var x_position_water = 175 + (Math.floor(indexWater / 3)) * 240
        var y_position_water = (indexWater % 3) * 265
        objectWatering.positions.push(JSON.stringify([x_position_water, y_position_water]))
        objectWateringNetPie.positions.push([x_position_water, y_position_water])
      }
    }
    objectWatering.user_id = user.id
    var jsonWater = JSON.stringify(objectWatering) //waterPosition in JSON

    // microgear.publish("/fruit", objectFruitNetpie.positions);
    // microgear.publish("/water", objectWateringNetPie.positions);

    $.ajax({
      url: '/',
      type: 'POST',
      contentType: 'application/json',
      data: jsonFruit,
      success: function (response) { }
    })
    $.ajax({
      url: '/',
      type: 'POST',
      contentType: 'application/json',
      data: jsonWater,
      success: function (response) { }
    })
  }

  scan_func = () => {
    let r = confirm("Are you sure to scan?")
    if (r) {
      if (user) {
        microgear.publish("/weed", 'ok');
      } else {
        alert('Please enter the code to verify user!')
      }
    }
  }


</script>

<script>
  const APPID = 'FarmbotProject';
  const APPKEY = 'b3pe2C13oESZed1';
  const APPSECRET = 'OMblNqjUT2uRtWiz4oacbGE6u';

  var microgear = Microgear.create({
    key: APPKEY,
    secret: APPSECRET
  });

  microgear.on('message', function (topic, msg) {
    document.getElementById("data").innerHTML = msg;
  });

  microgear.on('connected', function () {
    microgear.setAlias('htmlgear');    /* alias can be renamed anytime with this function */
    // document.getElementById("data").innerHTML = "Now I am connected with netpie...";
    $('#user_button').removeAttr('disabled')
    setInterval(function () {
      microgear.chat("htmlgear");
    }, 5000);
  });

  microgear.connect(APPID);
</script>

</html>