<!doctype html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Style -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <title>Farm Bot</title>

</head>

<body onload="show_data()">

  <!-- Pagetitle -->
  <div class="jumbotron jumbotron-fluid" style="padding: 20px; text-align: center">
    <div class="container">
      <h1 class="display-4 ">Auto Farming Robot</h1>
      <h3>[ver : 0.5.1]</h3>
      <hr class="my-4">
      <p>Add JSON data and submit button (new css, javascript file location)</p>
      <p>Now we have the correctly position of fruits and water area!</p>
      <p>22/01/2019</p>
    </div>
  </div>
  <!-- /Pagetitle -->


  <!-- Working Space -->
  <div class='container' style="margin-bottom:50px;">

    <!-- Image Bar -->
    <div class="col-md-8 offset-md-2 imgBox">
      <img src="img/apple.png" id="apple" onclick="imgTypes('apple')" class="imgBar">
      <img src="img/banana.png" id="banana" onclick="imgTypes('banana')" class="imgBar">
      <img src="img/lettuce.png" id="lettuce" onclick="imgTypes('lettuce')" class="imgBar">
      <img src="img/watering.png" id="watering" onclick="imgTypes('watering')" class="imgBar">
      <img src="img/wateringAll.png" id="watering_all" onclick="imgTypes('watering_all')" class="imgBar">
      <img src="img/wateringAll.png" id="submit" onclick="imgTypes('submit')" class="imgBar">
    </div>
    <!-- /Image Bar -->

    <!-- Planting Space -->
    <div class="col-md-6 offset-md-3">
      <% for ( var j = 1, m = 0 ; j<=4 ; j++) { %>
      <div class='row' style="margin:0">
        <% for (var i = 1; i <= 4; i++) { %>
        <div id='space<%= m %>' class='col space' onclick="show(<%= m %>)" style="padding:5px"></div>
        <% m++ } %>
      </div>
      <% } %>
    </div>
    <!-- /Planting Space -->

    <!-- Monitoring Data -->
    <div class="col-md-6 offset-md-3">
      <br>
      <div><u>Fruit Position</u></div>
      <div id='Array_fruits'></div>
      <div><u>Water Position</u></div>
      <div id='Array_water'></div>
      <div><u>Fruit Position JSON</u></div>
      <div id='showFruitJSON'></div>
      <div><u>Water Position JSON</u></div>
      <div id='showWaterJSON'></div>
    </div>
    <!-- Monitoring Data -->

  </div>
  <!-- /Working Space -->

  <footer style="text-align: center; background-color: #DCDCDC; color: black">
    <div style="padding: 20px">
      <i>by Thanapong Somjai (Boy)</i><br>
      <i>Faculty of Engineering, Chulalongkorn University.</i>
    </div>
  </footer>


</body>


<!-- General JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="javascript/process.js"></script>
<!-- /General JavaScript -->

</html>
