<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">
    <title>Weed Positions</title>
</head>

<body>
    <div class="container">
        <div class="weedBox mt-5" id='weedBox'></div>
        <a style="text-decoration: none;" href="/">
            <button type="button"
                class="btn btn-secondary btn-lg btn-block mt-3 col-sm-6 offset-sm-3 col-md-4 offset-md-4">Back to home</button>
        </a>
    </div>
</body>


<!-- General JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script>
    var positions = sessionStorage.getItem("weed_positions").split('scan')
    var weed_positions = positions[1].slice(2, -2).split('], [')
    var plant_positions = positions[2].slice(2, -2).split('], [')
    for (var i in weed_positions) {
        var position = weed_positions[i].split(', ')
        $('#weedBox').append(`<img src="img/marijuana.png"  class="weedimg" style="top: ${(position[0] - 350) * (500 / 667)}px; left: ${position[1] * (300 / 552)}px;">`)
    }
    for (var i in plant_positions) {
        var position = plant_positions[i].split(', ')
        $('#weedBox').append(`<img src="img/lettuce.png"  class="weedimg" style="top: ${(position[0] - 350) * (500 / 667)}px; left: ${position[1] * (300 / 552)}px;">`)
    }
</script>
<script>
    const APPID = 'FarmbotProject';
    const APPKEY = 'b3pe2C13oESZed1';
    const APPSECRET = 'OMblNqjUT2uRtWiz4oacbGE6u';

    var microgear = Microgear.create({
        key: APPKEY,
        secret: APPSECRET
    });

    microgear.on('message', function (topic, msg) {
        console.log(topic, msg)
        if (msg == 'process_success') {
            alert('Processing sucessfully!')
        } else {
            if (msg.slice(0, 8) == 'humidity') {
                alert('Humidity measuring seccuessfully!')
                sessionStorage.setItem("humidity", msg);
            } else if (msg.slice(0, 4) == 'scan') {
                alert('Scan successfully!')
                sessionStorage.setItem("weed_positions", msg);
            }
        }
    });

    microgear.on('connected', function () {
        microgear.setAlias('htmlgear');
        setInterval(function () {
            microgear.chat("htmlgear")
        }, 5000);
    });
    microgear.connect(APPID);
</script>



</html>