<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">
    <title>Weed Positions</title>
</head>

<body>
    <div class="container">
        <div class="weedBox mt-5" id='weedBox'>
            <img src="img/lettuce.png" class="weedimg" style="left: 255px; top: 150px;">
            <img src="img/lettuce.png" class="weedimg" style="left: 0px; top: 450px;">

        </div>
        <a style="text-decoration: none;" href="/">
            <button type="button" class="btn btn-secondary btn-lg btn-block mt-3 col-sm-6 offset-sm-3 col-md-4 offset-md-4">Back to home</button>
        </a>
    </div>
</body>


<!-- General JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script>
    var weed_positions = [[320, 123], [115, 200], [430, 50],[75,50.33],[200,170]]
    for (var i in weed_positions) {
        $('#weedBox').append(`<img src="img/apple.png"  class="weedimg" style="top: ${weed_positions[i][0]}px; left: ${weed_positions[i][1]}px;">`)
    }
</script>




</html>